@charset "UTF-8";

body {
    background-color: #6c6c6c;
    color: white;
}

a {
    text-decoration: none;
    color: #3cb4ff;
}

a:hover {
    color: #66bfff;
}

p {
    font-size: 14px;
}

#title_div {
    display: flex;
    justify-content: center;
    margin: 5% 0% 2% 0%;
    font-family: 'Aboreto', cursive;
    font-family: 'Abril Fatface', cursive;
}

#main-card {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0% auto 5% auto;
}

#pic-div {
    display: flex;
    justify-content: center;
}

#pic {
    height: auto;
    width: 80%;
    margin: 1% 0% 2% 0%;
}

#trial-div {
    display: flex;
    justify-content: center;
}