@charset "UTF-8";

body {
    background-color: #6c6c6c;
    color: white;
}

a {
    text-decoration: none;
    color: #3cb4ff;
}

a:hover {
    color: #66bfff;
}

#title_div {
    display: flex;
    justify-content: center;
    margin: 5% 0% 2% 0%;
    font-family: 'Aboreto', cursive;
    font-family: 'Abril Fatface', cursive;
}

#cards {
    width: 60%;
    margin: 0% auto 5% auto;
}

.card {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#profile-pic {
    height: auto;
    width: 50%;
    margin: 5% auto auto auto;
}