@charset "UTF-8";

body {
    background-color: #6c6c6c;
    color: white;
}

#section-div {
    display: flex;
    justify-content: center;
}

#container {
    width: 60%;
}

#form-field-div {
    margin: 1% !important;
}

#exampleModal {
    color: black;
}